NEXT_PUBLIC_SANITY_PROJECT_ID=qlsz3ia2
NEXT_PUBLIC_SANITY_DATASET=production
# Required only to seed content or to access private datasets. Do not expose this value in the browser.
SANITY_API_WRITE_TOKEN=
